Версия Python 3.12
В этом файле мы приведем библиотеки, необходимый для корректной работы программы:
Необходимо скачать следующие библиотеки: 
PyQt5   (Чтобы это сделать в терминале нужно прописать команду "pip3 install pyqt5")
OpenPyXl (Чтобы это сделать в терминале нужно прописать команду "pip install openpyxl")

Если после установления этих библиотек с запуском программы возникают проблемы, то также установите
библиотеку "numpy" с помощью команды "pip install numpy"